/* Carrossel */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Ajustado para o número de imagens */
}

.carousel-item {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

/* Botões do carrossel */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
